In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/guedanie/flask_intro/master/spam_clean.csv'

In [4]:
df = pd.read_csv(url)

In [5]:
df.to_csv('spam_clean.csv')

In [6]:
df1 = pd.read_csv('spam_clean.csv')

In [7]:
df1

      Unnamed: 0 label                                               text
0              0   ham  Go until jurong point, crazy.. Available only ...
1              1   ham                      Ok lar... Joking wif u oni...
2              2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3              3   ham  U dun say so early hor... U c already then say...
4              4   ham  Nah I don't think he goes to usf, he lives aro...
...          ...   ...                                                ...
5567        5567  spam  This is the 2nd time we have tried 2 contact u...
5568        5568   ham              Will Ì_ b going to esplanade fr home?
5569        5569   ham  Pity, * was in mood for that. So...any other s...
5570        5570   ham  The guy did some bitching but I acted like i'd...
5571        5571   ham                         Rofl. Its true to its name

[5572 rows x 3 columns]